<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Book_of_Gold.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Book_of_Gold.ProgramSettings>
            <setting name="SelectedAccentColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="SelectedThemeDisplayName" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="SelectedFontSize" serializeAs="String">
                <value>large</value>
            </setting>
            <setting name="SelectedThemeSource" serializeAs="String">
                <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
            </setting>
        </Book_of_Gold.ProgramSettings>
    </userSettings>
</configuration>